.nothing-to-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 12px 20px;
}

.nothing-to-show-message {
  margin-bottom: 0;
}

.nothing-to-show img {
  display: block;
  width: 260px;
}
