.card {
  background-color: var(--second-bg-color);
  margin-bottom: 15px;
  padding: 25px;
  border-radius: var(--main-border-radius);
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 8px;
  margin-bottom: 25px;
}

.card .card-title {
  margin: 0 0 8px;
  font-size: 2.1rem;
  position: relative;
}

.card .card-title:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  width: 70%;
  background-color: var(--main-color);
}

.card .card-actions {
  white-space: nowrap;
}

.card .card-actions button {
  border-radius: var(--main-border-radius);
  border-radius: 50%;
  padding: 7px;
}

.card .card-actions button span {
  display: block;
}

.card-actions #edit-card {
  color: #eb9e21ff;
  background-color: rgba(235, 158, 33, 0.1);
  margin-right: 8px;
}

.card-actions #delete-card {
  color: #FF4738;
  background-color: rgba(255, 71, 56, 0.1);
}

.card .content {
  font-size: var(--text-size);
  line-height: 160%;
}

.card .content :nth-child(1) {
  margin-top: 0;
}

.card .content :nth-last-child(1) {
  margin-bottom: 0;
}

.card .content a,
.card .content p,
.card .content li {
  font-size: var(--text-size);
}

.card .content p {
  margin-top: 8px;
}

.card .content img {
  border-radius: var(--main-border-radius);
  width: 100%;
}

.card .content h3 {
  font-size: 1.7rem;
  margin-bottom: 8px;
}

.card .content h4 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.card .content a {
  position: relative;
  color: var(--main-text-color);
  text-decoration: underline var(--main-color) 2px;
  text-underline-offset: 3px;
}

.card .content ul {
  padding-left: 35px;
}

.card .content ul li {
  margin-bottom: 8px;
}

.card .content .arrow-item {
  display: flex;
  padding-left: 12px;
}

.card .content .arrow-item .arrow-right {
  margin: 5px 8px 5px 0;
}

@media all and (max-width: 630px) {
  .card .card-title:after {
    display: none;
  }

  .card .card-title {
    text-decoration: underline var(--main-color) 2px;
    text-underline-offset: 8px;
  }

  .card-actions #edit-card {
    margin-right: 6px;
  }
}

@media all and (max-width: 425px) {
  .card {
    padding: 20px;
  }

  .card .card-title {
    font-size: 1.9rem;
  }

  .card .content h3 {
    font-size: 1.6rem;
  }
  
  .card .content h4 {
    font-size: 1.3rem;
  }

  .card .content .arrow-item {
    padding-left: 0;
  }
}

@media all and (max-width: 375px) {
  .card .content ul {
    padding-left: 20px;
  }
}
