.search-bar-container {
  position: fixed;
  padding: 15px 15px 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.search-bar {
  flex-grow: 1;
  position: relative;
  max-width: 600px;
}

.search-bar input {
  display: block;
  width: 100%;
  padding: 8px 50px 8px 50px;
  border-radius: 6px;
  font-size: 1rem;
  color: var(--main-text-color);
  background-color: var(--third-bg-color);
}

.search-bar #open-menu,
.search-bar .clear-search,
.search-bar #search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.75);
}

.search-bar input::placeholder,
.search-bar #search-icon {
  color: rgba(255, 255, 255, 0.5);
}

.search-bar #search-icon {
  left: 12px;
  display: none;
  pointer-events: none;
}

.search-bar #open-menu {
  left: 6px;
}

.search-bar .clear-search {
  right: 6px;
}

@media all and (min-width: 1024px) {
  .search-bar {
    max-width: 800px;
  }

  .search-bar input {
    padding: 10px 50px;
  }

  .search-bar #open-menu {
    position: fixed;
    top: 5px;
    left: 5px;
    bottom: auto;
  }

  .search-bar #open-menu span {
    font-size: 40px;
  }

  .search-bar #search-icon {
    display: flex;
  }
}
