.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login {
  border-radius: var(--main-border-radius);
  background-color: var(--second-bg-color);
  max-width: 380px;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 25px;
}

.login h1 {
  font-size: 2.4rem;
  margin: 0 0 15px;
}

.login form input {
  padding: 8px 10px;
  border-radius: 8px;
  color: var(--main-text-color);
  margin-bottom: 18px;
}

.login form > button {
  border-radius: 8px;
  padding: 8px 6px;
  display: block;
  margin-top: 8px;
}

@media all and (max-width: 425px) {
  .container {
    padding: 10px;
  }
}
