.app {
  padding: 5px 15px;
  max-width: 600px;
  margin: 0 auto;
}

#add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 12px 7px 6px;
}

#add-card .btn-text {
  margin-left: 4px;
}

.card {
  background-color: var(--second-bg-color);
  margin-bottom: 15px;
  padding: 25px;
  border-radius: 12px;
}

.card .card-title {
  margin: 0 0 8px;
  font-size: 1.8rem;
}

@media all and (min-width: 1024px) {
  .app {
    max-width: 800px;
  }
}
